<!-- Footer -->
    <footer id="footer">
        <ul class="icons">
            <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="https://vk.com/almatylongboard" class="icon fa-vk"><span class="label">Vk</span></a></li>
        </ul>
        <ul class="menu">
            <li><a href="index.ejs">Главная</a></li>
            <li><a href="faq.ejs">FAQ</a></li>
            <li><a href="about_us.ejs">О нас</a></li>
            <li><a href="shop.ejs">Магазин</a></li>
            <li><a href="inform.ejs">О лонгбординге</a></li>
        </ul>
        <span class="copyright">
            &copy; Сделано: Пустовойтовым Павлом, Баратовым Рустамом, Ениным Александром, группа CS-1802
        </span>
    </footer>