<!DOCTYPE HTML>

<html>
<title>About us</title>
<%- include('layouts/header'); -%>

<body>

    <%- include('layouts/navbar'); -%>

    <!-- Main -->
    <section id="main" class="wrapper style1">
        <header class="major">
            <h2>О нас</h2>
            <p>Всякая разная информация о нашем клубе ALC</p>
        </header>
        <div class="container">

            <!-- Content -->
            <section id="content">
                <a href="#" class="image fit"><img src="images/pic07.jpg" alt="" /></a>
                <h3 align="center">ALC</h3>
                <p>Almaty Longboard Club это - обьединение лонгбордеров со всей Алматы. Наше комьюнити насчитывает около 500 человек и продолжает неустанно расти. У нас есть <a href="https://vk.com/almatylongboard">группа в ВК. </a>Там появляются разные новости фото отчеты видео и тд. Мы часто выезжаем на покатушки. Информацию по ним (какой день, восколько и где собираемся) ты можешь узнать на нашем сайте или в <a href="https://vk.com/almatylongboard">группе ВК. </a></p>
                <h3>Покатушки</h3>
                <p>Несколько правил на покатушках и, что нужно взять с собой.</p>
                <ul>
                    <li>При обгоне не подрезать!!!</li>
                    <li>Не уверен - лучше не разгоняйся сильно.</li>
                    <li>Берите защиту (Шлем, наколенники, налокотники). Без шлема на даунхилл не пускаем.</li>
                    <li>Желательно иметь при себе мини аптечку (Перекись водорода, зелёнка, бинты, лейкопластыри).</li>
                    <li>Так-же надо взять с собой попить и перекусить.</li>
                </ul>
            </section>

        </div>
    </section>

    <!-- Footer -->
    <%- include('layouts/footer'); -%>

</body>

</html>