<!DOCTYPE HTML>

<html>

<head>
    <title>FAQ</title>
<%- include('layouts/header'); -%>

<body>

    <%- include('layouts/navbar'); -%>

    <!-- Main -->
    <section id="main" class="wrapper style1">
        <header class="major">
            <h2>FAQ</h2>
            <p>Тут будут часто задаваемые вопросы</p>
        </header>
        <div class="container">

            <!-- Content -->
            <section id="content">
                <a href="#" class="image fit"><img src="images/pic06.jpg" alt="" /></a>
                <div id="faq_qestion">
                    <h2>Как появился лонгбординг?</h2>
                    <h1><a href="inform.html">Тебе сюда</a></h1>
                </div>
                <div id="faq_qestion">
                    <h2>Каккие существуют стили катания?</h2>
                    <h1><a href="inform.html">Тебе сюда</a></h1>
                </div>
                <div id="faq_qestion">
                    <h2>С чего начать заниматься лонгбордингом?</h2>
                    <h1><a href="https://surfstories.ru/longboarding-first-steps">Вот хорошая статья</a></h1>
                </div>
                <div id="faq_qestion">
                    <h2>Какой-нибудь вопрос</h2>
                    <h1><a>Ответ на него</a></h1>
                </div>
                <div id="faq_qestion">
                    <h2>Какой-нибудь вопрос</h2>
                    <h1><a>Ответ на него</a></h1>
                </div>
                <div id="faq_qestion">
                    <h2>Какой-нибудь вопрос</h2>
                    <h1><a>Ответ на него</a></h1>
                </div>
                <div id="faq_qestion">
                    <h2>Какой-нибудь вопрос</h2>
                    <h1><a>Ответ на него</a></h1>
                </div>
            </section>

        </div>
    </section>

    <!-- Footer -->
    <%- include('layouts/footer'); -%>

</body>

</html>