<!DOCTYPE HTML>

<html>

<title>Information</title>
<%- include('layouts/header'); -%>

<body>

    <%- include('layouts/navbar'); -%>

    <!-- Main -->
    <section id="main" class="wrapper style1">
        <header class="major">
            <h2>О лонгбординге</h2>
            <p></p>
        </header>
        <div class="container">

            <!-- Content -->
            <section id="content">
                Лонгбординг — вид уличного катания, корни которого лежат в сёрфинге.Лонгборд отлично подходит для катания по длинным гладким дорогам.<br>
                Катание на лонгборде вызывает сильные эмоциональные ощущения, так как является экстремальным видом спорта из-за потенциальной возможности развивать высокую скорость. Мировой рекорд максимальной скорости равняется 143,89 км/ч.<br>
                История лонгбординга началась на Гавайях. В то время серферы были готовы кататься каждую секунду - только бы шла волна. Когда-же волн не было они были вынуждены ждять на берегу. Они хотели тренироваться всегда и везде, даже на суше. Такого рода мысли и привели серферов к катанию на досках с колесиками.<br>
                В пятидесятые годы скейтборд считался игрушкой для ребенка. Тогда сёрферы решили доработать игрушку и сделать из неё что-то похожее на дорожный снаряд.<br>
                Первые лонгборды были похожи на уменьшенную версию серфа сделаную из куска толстой фанеры. С помощью болтов к фанере прикручивали подвесы с резиновыми, а иногда и железными колесами.
                <div id="inform_img">
                    <a><img src="images/long_prototype.jpg" alt="" /></a>
                </div>
                В это же время компании Калифорнии увидев спрос на побережье начали производить доски в большем количестве. 60-е это еще и рассвет пластиковых досок – прородителей Penny Boards. Серферы могли кататься по улицам, спускались с холмов к океану, но была одна проблема – доски не были прочными и стабильными, а колеса – просто ужас для современно скейтбордиста.<br>
                70-е годы прошлого столетия были прорывными для скейтбординга. В это время райдеры создают доски, которыми легко управлять. Группа единомышленников улучшает технику изготовления скейтбордов и лонгбордов. Наконец было создано полиуретановое колесо – важно изобретение, подтолкнувшее оба досочных направления вперед.Именно в 70-е годы поиск собственной идентичности райдеров закончился и произошло разделение на отдельные дисциплины: лонгбординг и скейтбординг.<br>
                <div id="inform_img">
                    <a><img src="images/long1970's.jpg" alt="" /></a>
                </div>
                В 80-х не было какого либо прорува в лонгбординге. Деки были абсолютно индивидуальны по размеру и форме, среди них не было одной суперпопулярной модели. И хотя лонгборд 80-х отличается от скейтборда, имеет свой «клуб» и идентичность, по размеру и форме он примерно такой же, как скейтборд этого периода. <br>
                Под занавес тысячелетия лонгборд получил космический рывок вперед. В середине 90-х Sector 9 стали первыми, кто наладил выпуск длинных снарядов. Ни одна модель до этого не выпускалась на полноценной коммерческой основе. Компания представила реверсивную кингпин подвеску для лонгборда. Этот подвес сделал снаряд более маневренным и отзывчивым. Райдеры получили желанную стабильность и легкость управления. Также развитие интернета поспособствовало распространению информации о новом старом виде спорта.
                <div id="inform_img"><iframe width="560" height="315" src="https://www.youtube.com/embed/Rx2z-JZzidw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                Что произошло дальше, вы уже знаете. Новейшая история лонгбординга включает в себя множество стилей катания и огромное количество новинок на рынке. Визионерские времена ушли, вместе с первыми пионерами лонгбординга, которых называли сумасшедшими даже скейтбордисты.
                <h2 align="center">Стили катания</h2>
                В нынешнем лонгбординге существует 10 стилей катания: Даунхилл, Слалом, Дансинг, Фрирайд, Технический слайд, Фристайл, Комьютинг, Лонгбординг на большие расстояния, Слоупстайл, Шлонгбординг. Самые известные и опаные из них это Даунхилл и Фрирайд.<br>
                Даунхилл это - Стиль катания, при котором райдер стремится достичь максимальной скорости, спускаясь с холма. Даунхильные лонгборды имеют длину деки 95-110 см, так как начиная с длины 70 см ходовые качества улучшаются в сторону стабильности движения. Для обеспечения контроля над доской и избежания эффекта воблинга (неуправляемого раскачивания доски) подвеска обычно делается жесткой. Часто даунхильные доски используются и для фрирайда.
                <div id="inform_img"><iframe width="560" height="315" src="https://www.youtube.com/embed/_bzATDSKuVs?start=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                Фрирайд это - Спуск с холма, но, в отличие от скоростного спуска, райдер не пытается развить максимальную скорость, делая вместо этого акцент на выполнении агрессивных трюков: слайдов, карвов, прыжков. На фрирайдовые лонгборды ставятся жесткие колеса, на которых удобно скользить. Длина деки составляют примерно 90-110 см, в ширину 20-25 см.
                <div id="inform_img"><iframe width="560" height="315" src="https://www.youtube.com/embed/OW-J2pQrlsw?start=23" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
            </section>

        </div>
    </section>

    <!-- Footer -->
    <%- include('layouts/footer'); -%>

</body>

</html>