@import url(font-awesome.min.css);
@import url("http://fonts.googleapis.com/css?family=Lato:300,700");

#section_0 {
    width: 270px;
    height: 420px;
    margin: 40px auto;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 15px;
    z-index: 150;
    color: aqua;
    background-color: aqua;
    margin: 35px;
    
}

#section_0 .add_to_cart {
    margin: 22px;
    background-color: lightcyan;
}

#section_1 {
    width: 250px;
    height: 400px;
    margin: 40px auto;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 15px;
    z-index: 150;
    color: aqua;
    background-color: aqua;
    margin-top: 20px;
    position: absolute;
    left: 370px;
    bottom: 911px;
}

#section_2 {
    width: 250px;
    height: 400px;
    margin: 40px auto;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 15px;
    z-index: 150;
    color: aqua;
    background-color: aqua;
    margin-top: 20px;
    position: absolute;
    left: 370px;
    bottom: 447px;
}

#section_3 {
    width: 250px;
    height: 400px;
    margin: 40px auto;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 15px;
    z-index: 150;
    color: aqua;
    background-color: aqua;
    margin-top: 20px;
    position: absolute;
    left: 370px;
    bottom: 67px;
}

#section_4 {
    width: 250px;
    height: 400px;
    margin: 40px auto;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 15px;
    z-index: 150;
    color: aqua;
    background-color: aqua;
    margin-top: 20px;
    position: absolute;
    left: 670px;
    bottom: 867px;
}

#section_5 {
    width: 250px;
    height: 400px;
    margin: 40px auto;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 15px;
    z-index: 150;
    color: aqua;
    background-color: aqua;
    margin-top: 20px;
    position: absolute;
    left: 670px;
    bottom: 447px;
}

#section_6 {
    width: 250px;
    height: 400px;
    margin: 40px auto;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 15px;
    z-index: 150;
    color: aqua;
    background-color: aqua;
    margin-top: 20px;
    position: absolute;
    left: 670px;
    bottom: 67px;
}

#section_img {
    margin-top: 25px;
    margin-left: 30px;
    border-radius: 8px;
}